body {
	padding-left: 20px;
	background-color: #f2e9c7;
}

h1 {
	font-family: serif;
	font-weight: bold;
}

p {
	text-decoration: underline;;
}

button {
	background-color: orange;
}

ul {
	font-family: serif;
}

a {

}
